.nicescroll-cursors {
    border: none !important;
    background-color: rgba(black, .20) !important;
    width: 5px !important;
}

/* body:not(.light-navigation) {
    .navigation-nicescroll {
        .nicescroll-cursors {
            background-color: rgba(white, .60) !important;
        }
    }
} */
