{%extends 'MyEmail/base.html'%}
{%load static%}
{%block content%}
        <!-- Content body -->
        <div class="content-body">
            <!-- Content -->
            <div class="content">

    <div class="row app-block">
        <div class="col-md-3 app-sidebar">
            <div class="card">
                <div class="card-body">
                    <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#compose">
                        <i class="ti-plus mr-2"></i> Compose Email
                    </button>
                </div>
                <div class="app-sidebar-menu">
                    <div class="list-group list-group-flush">
                        <a href="{% url 'mail_list_class' %}?email_type=inbox"

                           class="list-group-item
                           {% if 'inbox' in request.get_full_path %}
                            active
                            {% endif %}
                           d-flex align-items-center">
                            <i class="ti-email list-group-icon mr-2 text-primary"></i>
                            Inbox
                            <span class="small ml-auto">{{ inbox_count }}</span>

                        </a>
                        <a href="{% url 'mail_draft_class' %}?email_type=send"

                           class="list-group-item
                            {% if 'send' in request.get_full_path %}
                            active
                            {% endif %} ">
                            <i class="ti-check list-group-icon mr-2 text-success" ></i>Send

                        </a>
                        <a href="{% url 'mail_draft_class' %}?email_type=draft"
                           class="list-group-item
                             {% if 'draft' in request.get_full_path %}
                            active
                            {% endif %} ">

                            <i class="ti-pencil-alt list-group-icon mr-2 text-secondary"></i>Draft
                        </a>

                        <a href="{% url 'mail_list_class' %}?email_type=starred"
                           class="list-group-item d-flex align-items-center
                            {% if 'starred' in request.get_full_path%}
                            active
                            {% endif %} ">

                                    <i class="mr-2 fa fa-star text-warning"></i>Starred
                                    <span class="small ml-auto">{{ starred_count }}</span>
                                </a>

                        <a href="{% url 'mail_list_class' %}?email_type=spam"
                           class="list-group-item
                            {% if 'spam' in request.get_full_path %}
                            active
                            {% endif %} ">

                            <i class="ti-info-alt list-group-icon mr-2 text-danger"></i>Spam
                        </a>

                        <a href="{% url 'mail_list_class' %}?email_type=trash"
                           class="list-group-item d-flex align-items-center
                             {% if 'trash' in request.get_full_path %}
                            active
                            {% endif %} ">
                            <i class="ti-trash list-group-icon mr-2 text-danger"></i>Trash
                            <span class="small ml-auto">{{ trash_count }}</span>
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="mb-0">Labels</h6>
                    </div>
                    <div class="list-group list-group-flush">
                        <a href="#" class="list-group-item d-flex align-items-center">
                            <span class="text-warning fa fa-circle mr-2"></span>
                            Theme Support
                            <span class="small ml-auto">5</span>
                        </a>
                        <a href="#" class="list-group-item d-flex align-items-center">
                            <span class="text-success fa fa-circle mr-2"></span>
                            Freelance
                        </a>
                        <a href="#" class="list-group-item d-flex align-items-center">
                            <span class="text-danger fa fa-circle mr-2"></span>
                            Social
                        </a>
                        <a href="#" class="list-group-item d-flex align-items-center">
                            <span class="text-info fa fa-circle mr-2"></span>
                            Friends
                        </a>
                        <a href="#" class="list-group-item d-flex align-items-center">
                            <span class="text-secondary fa fa-circle mr-2"></span>
                            Coding
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 app-content">

            <div class="app-content-overlay"></div>
            <div class="app-action">
                <div class="action-left">
                    <div class="custom-control custom-checkbox mr-3">
                        <input type="checkbox" class="custom-control-input" id="customCheckAll">
                        <label class="custom-control-label" for="customCheckAll"></label>
                    </div>
                    <ul class="list-inline">
                        <li class="list-inline-item mb-0">
                            <a href="#" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown">
                                With selected
                            </a>

                            <div class="dropdown-menu">
                                 {% if 'inbox' in request.get_full_path %}
                                <a class="dropdown-item text-primary email_status_select"
                                   data-email_status="read" href="#">Mark as read</a>

                                <a class="dropdown-item text-secondary email_status_select"
                                   data-email_status="unread" href="#">Mark as unread</a>


                                <a class="dropdown-item text-warning email_status_select"
                                   data-email_status="spam" href="#">Spam</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger email_status_select"
                                   data-email_status="delete" href="#">Delete</a>

                                {% elif 'send' in request.get_full_path %}
                                <a class="dropdown-item text-danger email_status_select"
                                   data-email_status="delete" href="#">Delete</a>

                                {% elif 'draft' in request.get_full_path %}
                                <a class="dropdown-item text-success email_status_select"
                                   data-email_status="send" href="#">Send Email</a>
                                <a class="dropdown-item text-danger email_status_select"
                                   data-email_status="delete" href="#">Delete</a>

                                {% elif 'starred' in request.get_full_path %}
                                <a class="dropdown-item text-light email_status_select"
                                   data-email_status="star" href="#">UnMark as Star</a>
                                {% elif 'spam' in request.get_full_path %}
                                <a class="dropdown-item text-success email_status_select"
                                   data-email_status="spam" href="#">UnMark as Spam</a>
                                <a class="dropdown-item text-danger email_status_select"
                                   data-email_status="delete" href="#">Delete</a>
                                {% elif 'trash' in request.get_full_path %}
                                <a class="dropdown-item text-success email_status_select"
                                   data-email_status="delete" href="#">Recover Email</a>
                                <a class="dropdown-item text-danger email_status_select"
                                   data-email_status="remove" href="#">Empty Trash</a>


                                {% endif %}


                            </div>


                        </li>
                        <li class="list-inline-item mb-0">
                            <a href="#" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown">
                                Order by
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                    <form {% if email_type == "draft" %}
                                      action="{% url 'mail_draft_class' %}"
                                                {%else%}
                                        action="{% url 'mail_list_class' %}"
                                                {%endif%} >
                                    <input type="hidden" name="filter" value="date">
                                    <input type="hidden" name="email_type" value="{{email_type}}">
                                    <button class="dropdown-item
                                    {%if 'date' in request.get_full_path%}
                                    active
                                    {%endif%}
                                        " type="submit">Date</button>
                                    </form>
<!--                                <a class="dropdown-item" href="{{request.get_full_path}}&filter=date">Date</a>-->
                                <form {% if email_type == "draft" %}
                                      action="{% url 'mail_draft_class' %}"
                                                {%else%}
                                        action="{% url 'mail_list_class' %}"
                                                {%endif%} >
                                    <input type="hidden" name="filter" value="from">
                                    <input type="hidden" name="email_type" value="{{email_type}}">
                                    <button class="dropdown-item
                                     {%if 'from' in request.get_full_path%}
                                    active
                                    {%endif%}" type="submit">From</button>
                                </form>
<!--                                <a class="dropdown-item" href="#">From</a>-->
                                <form {% if email_type == "draft" %}
                                      action="{% url 'mail_draft_class' %}"
                                                {%else%}
                                        action="{% url 'mail_list_class' %}"
                                                {%endif%} >
                                    <input type="hidden" name="filter" value="subject">
                                    <input type="hidden" name="email_type" value="{{email_type}}">
                                    <button class="dropdown-item
                                         {%if 'subject' in request.get_full_path%}
                                    active
                                    {%endif%}" type="submit">Subject</button>
                                </form>
<!--                                <a class="dropdown-item" href="#">Subject</a>-->
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Size</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="action-right">
                    <form class="d-flex mr-3" method="GET" {% if email_type == "draft" %}
                                      action="{% url 'mail_draft_class' %}"
                                                {%else%}
                                        action="{% url 'mail_list_class' %}"
                                                {%endif%}>
                        <a href="#" class="app-sidebar-menu-button btn btn-outline-light">
                            <i data-feather="menu" class="width-15 height-15"></i>
                        </a>
                        <div class="input-group" >
                            <input type="text" class="form-control" name = "search" placeholder="Email search"
                                   value="{{ search_q }}"
                                   aria-describedby="button-addon1">
                            <input type="hidden" class="form-control" name = "email_type" value="{{email_type}}"
                                   aria-describedby="button-addon1">
                            <div class="input-group-append">
                                <button class="btn" type="submit" id="button-addon1">
                                    <i class="ti-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="app-pager d-flex align-items-center">

<!--                                            page_obj.number     page_obj.object_list|length  page_obj.paginator.num_pages -->
                        <div class="mr-3">{{ page_obj.start_index }} - {{page_obj.end_index}}  of {{ page_obj.paginator.count }}</div>

                        <nav aria-label="Page navigation example">
                            <ul class="pagination">

                                    <li class="page-item">
                                         {% if page_obj.has_previous %}
                                        <a class="page-link"
                                           href="{% url 'mail_list_class'%}?email_type={{email_type}}&filter={{filter}}&page={{ page_obj.previous_page_number }}"
                                           aria-label="Previous">
                                            <i class="ti-arrow-left"></i>
                                        </a>
                                        {%endif%}
                                    </li>

                                   <li class="page-item">
                                    {% if page_obj.has_next %}
                                    <a class="page-link"
                                       href="{% url 'mail_list_class'%}?email_type={{email_type}}&filter={{filter}}&page={{ page_obj.next_page_number }}"
                                       aria-label="Next">
                                        <i class="ti-arrow-right"></i>
                                    </a>
                                    {%endif%}
                                   </li>

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="card card-body app-content-body">


                <div class="app-lists">
                    <ul class="list-group list-group-flush">
                       {% for email in object_list%}
                        <li class="list-group-item card_display_email
                         {% if 'inbox' in request.get_full_path %}
                                {%if email.mail_viewed%}
                                    text-light
                                        {%else%}
                                        bg-dark
                                        {%endif%}
                                    {%else%}
                                    text-light
                                    {%endif%}"

                                    list_email_id="{{email.pk}}"
                                    id="email_list_li{{ email.pk }}"
                                    data-email_subject="{{ email.mail.subject }}"
                                    data-email_body="{{email.body}} "
                                    data-email_sender="{{email.sender}} &lt{{email.sender.email}}&gt"
                                    data-email_label="{{email.get_label_display}}"
                                    {# data-email_receiver="{{email.receiver}} &lt{{email.receiver.email}}&gt" #}
                                    data-email_receiver="{{email.get_receivers_display}}"
                                    data-email_viewed_date="{{email.viewed_date}}"
                                    data-email_attached_files="{% if email.file_upload %}{{email.file_upload.url}}{% endif %}"
                                    data-email_file_name="{% if email.file_upload %}{{email.file_upload.name}}{% endif %}">
                                    <div>
                                        <div class="custom-control custom-checkbox mr-2">
                                            <input type="checkbox" class="custom-control-input email_checkbox"
                                                   data-email_id="{{email.pk}}"
                                                   id="customCheck{{forloop.counter}}">
                                            <label class="custom-control-label"
                                                   for="customCheck{{forloop.counter}}"></label>
                                        </div>
                                    </div>
                                    <div>
                                       <a href="{%url 'mail_starred' email.pk%}?email_type={{email_type}}"
                                           class="add-star mr-3"

                                   title="Add stars">
                                    <i class="fa font-size-16
                                    {%if email.mail_starred%}
                                        text-warning
                                        fa-star
                                    {% else %}
                                        fa-star-o
                                    {%endif%}
                                    "></i>
                                        </a>
                                    </div>
                                    <div>
                                        <figure class="avatar avatar-sm mr-3">
                                            <img src="{%static "/admin/assets/media/image/user/man_avatar5.jpg"%}"
                                            class="rounded-circle" alt="image">
                                        </figure>
                                    </div>
                                    <div class="flex-grow-1 min-width-0   ">
                                        <div class="mb-1 d-flex justify-content-between align-items-center">
                                            <div class="text-truncate app-list-title">
                                                {% if 'mail_draft_class' in request.get_full_path %}
                                                        {{email.sender}}
                                                    &lt{{email.sender.email}}&gt
                                                            {%else%}
                                                     {{email.mail.sender}}
                                                &lt{{email.mail.sender.email}}&gt
                                                         {%endif%}
                                            </div>
                                            <div class="pl-3 d-flex">
                                                <span class="text-nowrap text-muted">
                                                    {% if 'mail_draft_class' in request.get_full_path %}
                                                    {{email.created_date|date:"d F"}}
                                                        {%else%}
                                                    {{email.viewed_date|date:"d F"}}
                                                        {%endif%}
                                                </span>


                                                <div class="dropdown ml-3">
                                                    <a href="#" class="btn btn-outline-light btn-floating btn-sm"
                                                       data-toggle="dropdown">
                                                        <i class="fa fa-ellipsis-h"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right ">
                                                        <a class="dropdown-item reply_view" id="reply_view{{ email.pk }}"
                                                           data-email_id="{{ email.pk }}"
                                                           href="#">Reply</a>
                                                        <a class="dropdown-item" href="{%url 'mail_starred' email.pk%}?email_type={{email_type}}">
                                                            {%if email.mail_starred%}
                                                                Remove Star
                                                            {%else%}
                                                            Add star
                                                            {%endif%}</a>
                                                        <a class="dropdown-item" href="{%url 'mail_spam' email.pk%}?email_type={{email_type}}">
                                                            {%if email.mail_spam%}
                                                                Unmark as Spam
                                                            {%else%}
                                                            Mark as Spam
                                                            {%endif%}
                                                            </a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item text-danger"href="{%url 'mail_deleted' email.pk%}?email_type={{email_type}}">Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-muted d-flex justify-content-between">
                                            <div class="text-truncate small">
                                            {% if 'mail_draft_class' in request.get_full_path %}
                                                    {{email.subject}}
                                            {%else%}
                                                {{email.mail.subject}}
                                            {%endif%}
                                            </div>
                                            <div class="text-nowrap pl-3">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item mb-0">
                                                        <i class="fa fa-circle text-danger"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                {%endfor%}
                        <li class="list-group-item d-none card_display_email" data-dummy_data="true"></li>

                    </ul>
                </div>




                <!-- end::app-lists -->

                <!-- begin:app-detail -->
                {% block email_detail %}
                {% endblock %}
            </div>

        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="compose">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Compose Email</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="ti-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="d-flex justify-content-between m-b-20">
                        <div>
                            <a href="#" data-toggle="tooltip" title=""
                               id="draft_email_create"
                               class="btn btn-outline-light mr-2"
                               data-original-title="Keep">
                                <i class="ti-save"></i>
                            </a>
                            <a href="#" data-toggle="tooltip" title=""
                               class="btn btn-outline-danger mr-2"
                               data-original-title="Delete">
                                <i class="ti-trash"></i>
                            </a>
                        </div>
                    </div>
                    <form method="POST" id="email_submit_form"
                          action="mail_create_class"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">

<!--                            <input type="text" class="form-control tagsinput" name = "to" placeholder="To"-->
<!--                                   {% if object %}-->
<!--                                    value="{{ object.receiver.username }}"-->
<!--                                   {% endif %}-->
<!--                                   required>-->

                            <select name="receiver_multiple" class="form-control select2-example"
                                    id="receiver_multiple" multiple>
                                {% for u in user_list %}
                                <option value="{{ u.pk }}"
                                        {% if object %}
                                        {% if object.receiver.pk == u.pk %} selected {% endif %}
                                        {% endif %}>{{ u.username }}
                                </option>
                                {% endfor %}

                            </select>
                            <input type="hidden" name="receiver_list" id="receiver_list" value="">
                            <input type="hidden" name="sender" value="{{ request.user.pk }}">

                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" name = "subject" placeholder="Subject" required>
                        </div>

                        <div class="form-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" name = "file" multiple id="customFileLangHTML">
                                <label class="custom-file-label" for="customFileLangHTML" data-browse="Select files">Voeg
                                    je document toe</label>
                            </div>
                        </div>
                        <div>
                            <div class="form-group d-none">
                                <textarea class="form-control" id="input_body" name = "body" rows="4" cols="50" placeholder="Type Your Email...." required>
                                </textarea>
                                </div>
                            <div class="compose-quill-editor mb-3" >
                            </div>
                            <div class="d-flex justify-content-between">
                                <div class="compose-quill-toolbar">
                            <span class="ql-formats mr-0">
                                <button class="ql-bold"></button>
                                <button class="ql-italic"></button>
                                <button class="ql-underline"></button>
                                <button class="ql-link"></button>
                                <button class="ql-image"></button>
                            </span>
                                </div>
                                <button class="btn btn-primary" type="submit">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

        </div>
        <!-- ./ Content -->
        <!-- Footer -->
        <footer class="content-footer">
            <div>© 2020 Baston - <a href="http://laborasyon.com" target="_blank">Laborasyon</a></div>
            <div>
                <nav class="nav">
                    <a href="https://themeforest.net/licenses/standard" class="nav-link">Licenses</a>
                    <a href="#" class="nav-link">Change Log</a>
                    <a href="#" class="nav-link">Get Help</a>
                </nav>
            </div>
        </footer>
        <!-- ./ Footer -->
    </div>
    <!-- ./ Content body -->

<!--  hidden detail card template  -->

    <div class="d-none" id="reply_copy_temp">

            <hr class="m-0" style="border-color:#FFF;">
<!--        <div class="app-detail-article">-->
            <div class="card-body">
                <div class="d-flex mb-4">
                    <div class="d-flex align-items-center">
                        <figure class="avatar mr-3">
                            <img src="{%static "/admin/assets/media/image/user/women_avatar5.jpg"%}"
                            class="rounded-circle"
                            alt="image">
                        </figure>
                        <div>
                            <h6 class="m-b-0">
                                <span class="text-primary"
                                      id="card_content_sender_change_email_pk">Valentine Maton</span>
                                <!--                                            <span class="d-sm-inline d-none text-muted"> &lt;elnora@gmail.com&gt;</span>-->
                            </h6>
                            <span class="small text-muted" id="card_content_receiver_change_email_pk">to Lois Jimenez</span>
                        </div>
                    </div>
                    <div class="ml-auto">
                        <a href="#" data-toggle="tooltip" title="Attachment" class="mr-2">
                            <i class="fa fa-paperclip"></i>
                        </a>
                        <a href="#" class="mr-2">
                            <i class=" fa fa-star font-size-16 text-warning "></i>
                        </a>

                        <span class="text-muted" id="card_content_viewed_date_change_email_pk">4:14 AM</span>
                    </div>
                </div>
                <p id="card_content_body_change_email_pk"></p>
            </div>
            <hr class="m-0">
            <div class="card-body" id="card_attach_div_change_email_pk">
                <reply_formh6 class="mb-3 font-size-11 text-uppercase">Attached Files</reply_formh6>
                <ul class="list-unstyled mb-0">
                    <li class="small">
                        <a href="" id="card_content_attached_files_change_email_pk">
                            <i data-feather="paperclip" class="mr-1 width-15 height-15"></i>
                            uikit-design.psd
                        </a>
                    </li>

                </ul>
            </div>
<!--        </div>-->
    </div>

    {%endblock%}





{%block script%}

<script>
    $( document ).ready(function() {
        $("#customCheckAll").prop('checked',false);
        $(".email_checkbox").prop('checked',false);
        {% if "mail_draft_detail" in request.get_full_path %}
            $(".draft_article").find(".ql-editor").html("{{ object.body|safe }}");
            $(".card_display_email").click();
        {% endif %}
        {% if "mail_detail" in request.get_full_path %}
            $(".card_display_email").click();
        {% endif %}
    });

    $(".select2-example").select2({
        placeholder: 'Select'
    });

    $("#email_submit_form").submit(function(){
        //$("#input_body").html($(".compose-quill-editor").find("p").html());
        $("#input_body").html($(".compose-quill-editor").find(".ql-editor").html());
        console.log("hello");
        console.log($("#input_body").html());
        let url_send = $("#email_submit_form").attr('action') + "?is_send=True";
        $("#email_submit_form").attr('action',url_send);
        $("#receiver_list").val($("#receiver_multiple").val());
    });

    $("#draft_submit_form").submit(function(){
        //$("#input_body_draft").html($(".quill_draft").find("p").html());
        $("#input_body_draft").html($(".quill_draft").find(".ql-editor").html());
        console.log("hello");
        console.log($("#input_body_draft").html());
        let url_send = $("#draft_submit_form").attr('action') + "?is_send=True";
        $("#email_submit_form").attr('action',url_send);
        $("#receiver_list_draft").val($("#receiver_multiple_draft").val());
    });

    // ///reply:
    $("#reply_form").submit(function(e){
        // e.preventDefault()
        //$("#reply_body").val($(".reply-email-quill-editor").find("p").html());
        $("#reply_body").val($(".reply-email-quill-editor").find(".ql-editor").html());
        console.log("hello");
        console.log($("#reply_body").val());

        $("#receiver_list").val($("#receiver_multiple").val());
    });

    $("#draft_email_create").click(function(){
        let url_send = "{% url 'draft_create_class' %}";
        $("#email_submit_form").attr('action',url_send);
        $("#email_submit_form").submit();
    });

    // Email Detailed View
    //$(".card_display_email").click(function(){

     //   console.log($("#reply_form"));
     //   console.log(url_send);

        // //// if email is a parent(original) display at top:

       // $("#card_content_subject").html($(this).attr("data-email_subject"));
       // $("#card_content_label").html($(this).attr("data-email_label"));

       // $("#card_content_body").html($(this).attr("data-email_body"));
       // $("#card_content_sender").html($(this).attr("data-email_sender"));
       // $("#card_content_receiver").html($(this).attr("data-email_receiver"));
       // $("#card_content_viewed_date").html($(this).attr("data-email_viewed_date"));
       // $("#card_content_attached_files").attr("href", ($(this).attr("data-email_attached_files")));
       // $("#card_content_attached_files").html($(this).attr("data-email_file_name").replace("files/",""));
       // console.log($(this).attr("data-email_file_name"));
       // if ($(this).attr("data-email_file_name") === "")
       // {
       //     $("#card_attach_div").hide();
       // }

        // let url_reply = "";
        //$("#reply_form").attr('action', url_reply);

        //{% for email in object_list %}
         //   {% for reply in email.get_reply %}
         //       if ("{{ email.pk }}" === $(this).attr('list_email_id')){
         //           let new_html = $("#reply_copy_temp").html().replaceAll('change_email_pk', "{{ reply.pk }}");
         //           $("#card_attach_div").after(new_html);

        //            $("#card_content_body_{{ reply.pk }}").html("{{ reply.body }}");
        //            $("#card_content_sender_{{ reply.pk }}").html("{{ reply.sender }}");
        //            $("#card_content_receiver_{{ reply.pk }}").html("{{ reply.receiver }}");
        //            $("#card_content_viewed_date_{{ reply.pk }}").html("{{ reply.viewed_date }}");
        //            $("#card_content_attached_files_{{ reply.pk }}").attr("href", ($(this).attr("{% if email.file_upload %}{{email.file_upload.url}}{% endif %}")));
        //            $("#card_content_attached_files_{{ reply.pk }}").html("{% if email.file_upload %}{{email.file_upload.name}}{% endif %}".replace("files/",""));
        //            console.log($("#card_content_attached_files_{{ reply.pk }}"));
        //            if ("{% if email.file_upload %}{{email.file_upload.url}}{% endif %}" === ""){
        //                $("#card_attach_div_{{ reply.pk }}").hide();
        //            }
        //       }
        //    {% endfor %}
        //{% endfor %}

    //});

    // Mark As Viewed On Click Email
    $(".card_display_email").click(function(){
        let get_url = "";
        let email_id = $(this).attr('list_email_id');
        let this_el = $(this);
        //console.log(email_id)
        get_url = "{%url 'mail_viewed' pk=1234 %}".replace('1234', email_id);
        //console.log(get_url)
        $.ajax({
              url: get_url,
              type: 'GET',
              //data: $(this).serialize(),
              success: function (response) {
               $(this_el).removeClass('bg-dark');
               // location.reload();
               console.log("success!!");
              },
              error: function () {
                 console.log('Error in posting form');
              },
              complete: function () {
              }
        });

    });

  //  $(".card_display_email").click(function(e){
    //    let e_id = $(this).attr('data-dummy_data');
      //  if (e_id !== "true"){
        //    console.log("asdfasdfasdf");
          //  let get_url = "";
          //  let email_id = $(this).attr('list_email_id');
          //  let this_el = $(this);
            //console.log(email_id)
          //  {% if email_type == 'draft' %}
            //    get_url = "{%url 'mail_draft_detail' pk=1234 %}".replace('1234', email_id);
              //  window.location.href = get_url;
           // {% else %}

             //   get_url = "{%url 'mail_detail' pk=1234 %}".replace('1234', email_id);
               // window.location.href = get_url;
           // {% endif %}
      //  }else{
        //    console.log("just display");
       // }
    //});

     // $(".email_back_button").click(function(){
       // location.reload();
     // });

      $(".email_back_button").click(function(){
         get_url = "{%url 'mail_list_class'  %}";
         window.location.href = get_url;

      });



    // With Selected

    $(".email_status_select").click(function(){

        let status = $(this).attr("data-email_status");
        console.log(status);

        $(".email_checkbox:checked").each(function(){

            let email_id = $(this).attr('data-email_id');
            console.log("eamil", email_id);


            let get_url = "";
            if (status === "spam"){
                get_url = "{% url 'mail_spam' pk=1234 %}".replace('1234', email_id);
            }
            if (status === "delete"){
                get_url = "{% url 'mail_deleted' pk=1234 %}".replace('1234', email_id);
            }
            if (status === "unread"){
                get_url = "{% url 'mail_unread' pk=1234 %}".replace('1234', email_id);
            }

            if (status === "read"){
                get_url = "{% url 'mail_viewed' pk=1234 %}".replace('1234', email_id);
            }

            console.log(get_url);
            // ////////// ajax post:
            $.ajax({
              url: get_url, // URL to your view that serves new info
              type: 'GET', // GET or POST
              //data: $(this).serialize(),
              success: function (response) {
                location.reload();
              },
              error: function () {
                  console.log('Error in posting form');
              },
              complete: function () {
              }
            });

        });
    });



    //Show Reply Page
    $(".reply_view").click(function(){

        //$(".card app-detail").addClass("show");
        //card app-detail show
        let email_el_id = "#email_list_li" + $(this).attr('data-email_id');
        console.log(email_el_id);
        //console.log()
        $("#email_list_li" + $(this).attr('data-email_id')).click();

    });

</script>

{%endblock%}



